<div class="nav">
  <div class="grid">
    <div class="col-1-1">
      <div class="logo">
        <a href="{{site.url}}">
          <amp-img noloading width="496" height="75" layout="responsive" src="{{site.logo}}" class="navbar-brand" alt="{{ site.description }}"></amp-img>
        </a>
    </div>
      <ul>
        <li>
          <a href="{{site.url}}/" {% if page.nav == 'home' %}class="active" {% endif %}>Home</a>
        </li>
        <li>
          <a href="{{site.url}}/sponsors/" {% if page.nav == 'sponsors' %}class="active" {% endif %}>Sponsors</a>
        </li>
        <li>
          <a href="{{site.url}}/sprekers/" {% if page.nav == 'sprekers' %}class="active" {% endif %}>Sprekers</a>
        </li>
        <li>
          <a href="{{site.url}}/nieuws/" {% if page.nav == 'nieuws' %}class="active" {% endif %}>Nieuws</a>
        </li>
        <li>
          <a href="{{site.url}}/team/" {% if page.nav == 'team' %}class="active" {% endif %}>Team</a>
        </li>
        <li>
          <a class="signup" href="https://goo.gl/r7DLxe" title="{{ site.title }} Voorinschrijving">Voorinschrijving</a>
        </li>
        <li class="socialnav">
          <a class="fa fa-facebook" aria-hidden="true" href="https://www.facebook.com/tedxamstelveen" target="_blank" title="{{ site.title }} Facebook"></a>
          <a class="fa fa-twitter" aria-hidden="true" href="https://twitter.com/tedxamstelveen" target="_blank" title="{{ site.title }} Twitter"></a>
          <a class="fa fa-instagram" aria-hidden="true" href="https://www.instagram.com/tedxamstelveen" target="_blank" title="{{ site.title }} Instagram"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
