<div class="nav">
  <div class="grid">
    <div class="col-1-1">
      <div class="logo">
        <a href="{{site.url}}"><amp-img noloading width="162" height="50" layout="responsive" src="{{site.logo}}" class="navbar-brand" alt="{{ site.description }}"></amp-img></a>
    </div>
      <ul>
        <li>
          <a href="{{site.url}}/" {% if page.nav == 'start' %}class="active" {% endif %}>Start</a>
        </li>
        <li>
          <a href="{{site.url}}/sponsors/" {% if page.nav == 'sponsors' %}class="active" {% endif %}>Sponsors</a>
        </li>
        <li>
          <a href="{{site.url}}/sprekers/" {% if page.nav == 'sprekers' %}class="active" {% endif %}>Sprekers</a>
        </li>
        <li>
          <a href="{{site.url}}/nieuws/" {% if page.nav == 'nieuws' %}class="active" {% endif %}>Nieuws</a>
        </li>
        <li>
          <a href="{{site.url}}/team/" {% if page.nav == 'team' %}class="active" {% endif %}>Team</a>
        </li>
      </ul>
    </div>
  </div>
</div>
