---
layout: compress
---

<!DOCTYPE html>
<html ⚡ lang="en">
{% include head.html %}
<body>
	{% include ga.html %}
	{% include header.html %}
<div class="grid hero">
		<div class="col-1-1">
			{{ content }}
		</div>
</div>
<div class="white">
	<div class="grid">
		<div class="col-1-1">
			{% capture intro %}{% include index/intro.md %}{% endcapture %}
			{{ intro | markdownify }}
		</div>
	</div>
	<div class="grid">
			{% capture blog %}{% include index/blog.md %}{% endcapture %}
			{{ blog }}
	</div>
</div>

<footer>
	<div class="footer">
		{% include footer.html %}
	</div>
</footer>
</body>
</html>
